In [1]:
import sqlite3
create = sqlite3.connect("practice_1 with jupy.db")
wand = create.cursor()

wand.execute("""CREATE TABLE CITIES(City TEXT, Population INTEGER)
             """)

In [8]:
wand.execute(""" INSERT INTO CITIES(City, Population) VALUES ("Paris", 3000)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Accra", 1500)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("London", 12000)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("New York", 55000)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Sydney", 500)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Beijing", 500)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Berlin", 97000)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Shinzoku", 4000)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Atlanta", 3000)""")
wand.execute(""" INSERT INTO CITIES (City, Population) VALUES ("Seoul", 3000)""")

how to put existing data into a database using python and sqlite3

In [10]:
wand.execute(""" DELETE FROM CITIES WHERE Population = 1500 """)
wand.execute(""" DELETE FROM CITIES WHERE City="Atlanta" """)

In [11]:
wand.execute("""UPDATE CITIES SET City="Tokyo" WHERE Population= 55000
          
             """)

In [13]:
wand.execute(""" SELECT * FROM CITIES WHERE Population= 3000) """)
wand.execute(""" SELECT * FROM CITIES WHERE Population= 500) """)

OperationalError: near ")": syntax error

In [14]:
wand.execute("""
             SELECT * FROM CITIES ORDER BY City DESC;
             """)